<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<filter>
		<filter-name>responseCodeFilter</filter-name>
		<filter-class>com.i2group.apollo.servlet.ResponseCodeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>responseCodeFilter</filter-name>
		<url-pattern>/services/ExternalDataSubsetCreationService</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>responseCodeFilter</filter-name>
		<url-pattern>/services/ExternalDataSubsetExplorationService</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>responseCodeFilter</filter-name>
		<url-pattern>/services/ExternalDataRetrievalService</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.i2group.apollo.itemsubscriber.ApolloSubscriberServicesContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>ExternalDataSubsetCreationService</servlet-name>
		<servlet-class>com.i2group.apollo.externaldatasubsetcreationservice.internal.ExternalDataSubsetCreationServiceDelegateWrapper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalDataSubsetCreationService</servlet-name>
		<url-pattern>/services/ExternalDataSubsetCreationService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExternalDataSubsetExplorationService</servlet-name>
		<servlet-class>com.i2group.apollo.externaldatasubsetexplorationservice.internal.ExternalDataSubsetExplorationServiceDelegateWrapper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalDataSubsetExplorationService</servlet-name>
		<url-pattern>/services/ExternalDataSubsetExplorationService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExternalDataRetrievalService</servlet-name>
		<servlet-class>com.i2group.apollo.externaldataretrievalservice.internal.ExternalDataRetrievalServiceDelegateWrapper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalDataRetrievalService</servlet-name>
		<url-pattern>/services/ExternalDataRetrievalService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExternalDataSubsetResource</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.example.rest.ExternalDataSubsetResourceConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalDataSubsetResource</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <security-constraint>
		<web-resource-collection>
			<web-resource-name>External Data Subset Creation Service</web-resource-name>
			<url-pattern>/services/ExternalDataSubsetCreationService</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>External Data Subset Exploration Service</web-resource-name>
			<url-pattern>/services/ExternalDataSubsetExplorationService</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>External Data Retrieval Service</web-resource-name>
			<url-pattern>/services/ExternalDataRetrievalService</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ExternalDataSubsetResource</web-resource-name>
			<url-pattern>/rest/daodSubsets</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- AutogenSecurityConstraint -->

	<security-role>
		<description>Apollo Authenticated users</description>
		<role-name>AUTHENTICATED_USER</role-name>
	</security-role>

	<security-role>
		<description>Apollo Administrators</description>
		<role-name>Administrator</role-name>
	</security-role>

	<context-param>
		<description>Guice Module(s) to execute One Off Jobs.</description>
		<param-name>OneOffModuleClassNames</param-name>
		<param-value>
			com.i2group.apollo.scheduling.ContainerScopeInitializerModule
		</param-value>
	</context-param>
	
	<context-param>
		<description>Properties for ContainerScopeInitializerModule</description>
		<param-name>com.i2group.apollo.scheduling.ContainerScopeInitializerModule_Properties</param-name>
		<param-value>
			containerScopeName=Daod
			,containerScopeServices=DAODService
		</param-value>
	</context-param>
	
	<context-param>
		<description>Application Type</description>
		<param-name>AppType</param-name>
		<param-value>Daod</param-value>
	</context-param>
</web-app>
