<server description="Apollo">

	<!-- Enable features -->
	<featureManager>
		<feature>jsp-2.2</feature>
		<feature>localConnector-1.0</feature>
		<feature>jaxws-2.2</feature>
		<feature>jpa-2.0</feature>
		<feature>appSecurity-2.0</feature>
		<feature>jaxrs-1.1</feature>
	</featureManager>

	<httpEndpoint host="*" httpPort="9081" httpsPort="9443" id="defaultHttpEndpoint"/>

	<include location="server.datasources.xml"/>

	<applicationMonitor updateTrigger="mbean"/>

	<include location="${shared.config.dir}/server.security.xml"/>

	<webContainer deferServletLoad="false"/>
</server>